<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:if="${param.error}">
    Не верное имя пользователя или пароль.
</div>
<div th:if="${param.logout}">
    Вы вышли из системы.
</div>

<header th:insert="blogs/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Авторизация</h1>
    <form action="/login" method="get">
        <input type="email" name="email" placeholder="Введите логин" class="form-control"/><br>
        <input type="password" name="password" placeholder="Введите пароль" class="form-control"/><br>
        <button type="submit" class="btn btn-success">Войти</button><br>
        <a href="/registration">Зарегистрироваться</a>
    </form>
</div>
<footer th:insert="blogs/footer :: footer"></footer>
</body>
</html>