<div th:fragment="footer">
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вернуться наверх</font></font></a>
            </p>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Пример альбома - © Bootstrap, но, пожалуйста, скачайте и настройте его под себя!</font></font></p>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Новичок в Bootstrap? </font></font><a href="https://getbootstrap.com/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Посетите домашнюю страницу</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> или прочтите наше </font></font><a href="/docs/4.5/getting-started/introduction/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">руководство по началу работы</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
        </div>
    </footer>
</div>
